@import "../../../../styles/defaults";


.mp_shopSelectorModal {   
    &_singleItem {
        top: 30px;
        position: relative;
        height: 62px;
        padding-top: 4px;
        padding-right: 15px;
        margin-right: 0;
        margin-bottom: 10px;
        background-color: rgba(255,255,255,0.08);
        border-radius: 6px;

        .grommetux-check-box__label{
            width: calc(100% - 74px);
        }

        .grommetux-check-box__control {
            border: 1.5px solid #ffffff;
            width: 25px;
            height: 25px;
            margin: 15px;
            margin-top: 16px;
            margin-left: 15px;
            z-index: 300;
            &-check{
                background-color: #ffffff !important;
                border-radius: 1.5px;
                left: 0px;
                width: 24px;
                height: 24px;
                margin-left: -1px;
            }
        }

        svg {
            margin-top: 1px;
            margin-left: 2px;
            width: 24px;
            height: 24px;
            stroke: $brand-highlight-blue !important;
            fill: $brand-highlight-blue !important;
            z-index: 400;
        }
    }

    &_singleItem:last-child {
        //background-color: lime;
        //border-bottom: 0;
        //margin-bottom: 40px;
    }

    &_body {
        top: 107px;
    }
    
    &_wrapper {
        .title {
            top: 8px;
            left: 0px;
            position: relative;
        }     
        .title:nth-child(2) {
            top: 10px;
            left: 0px;
            display: block;
            position: relative;
        }     

        .pv_selected {
            border: $brand-highlight-blue 1px solid;
            background-color: rgba(255,255,255,0.08);
        }

        .row {
            //margin-bottom: 30px; // cluster 2 ok
            position: relative;
            top: 36px;

            .number_pv_selected {
                font-size: $text-size-medium;
                line-height: $text-size-medium + 1;
                font-family: $font-family-regular;

                &_bold{
                    font-weight: bold !important;
                }

                &_toggle{
                    font-size: $text-size-medium;
                    line-height: $text-size-medium;
                    letter-spacing: 2px;
                    right: 0px !important; 
                    top: 4px !important;
                    text-decoration: none !important;
                }
            }
        }

        &_item {
            position: relative;
            top: 45px; /* --------------------------------------------------   ok primo item cluster 1 */
            background-color: rgba(255,255,255,0.08);
            border: 1px solid rgba(255,255,255,0.08);;
            margin-bottom: 10px;
            height: 56px;
            border-radius: 6px;
            overflow: hidden;


            .grommetux-check-box__control {
                border: 1.5px solid #ffffff;
                border-radius: 2px;
                width: 25px;
                height: 25px;
                margin: 15px;
                margin-top: 16px;
                z-index: 300;
                &-check{
                    background-color: #ffffff !important;
                    border-radius: 2px;
                    width: 25px;
                    height: 25px;
                    margin-left: 0px;
                }
            }

            .grommetux-check-box__label{
                width: 100%;
            }
    

            svg {
                margin-top: 1px;
                margin-left: 2px;
                width: 24px;
                height: 24px;
                stroke: $brand-highlight-blue !important;
                fill: $brand-highlight-blue !important;
                z-index: 400;
            }

            .pv_name {
                display: block;
                font-size: $text-size-large;
                line-height: $text-size-large + 1;
                margin-bottom: 5px;

                width: calc(100% - 72px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .pv_address {
                display: block;
                font-size: $text-size-xsmall;
                line-height: $text-size-xsmall;

                width: calc(100% - 72px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
           }
        }

        &_list_container {
            top: 116px;
            left: 15px;
            right: 15px;
            position: absolute;
            overflow: auto;
            overflow-x: hidden;
            max-width: 565px;
            margin: auto;
            padding-right: 9px;
            height: auto;
            bottom: 64px;
            
            @media screen and (min-width: $break-palm-max-width) {
                bottom: 107px;
            }        

            a {
                position: absolute;
                right: 25px;
            }

            &_group {
                &.group_disabled {
                    pointer-events: none;
                    opacity: 50%;
                }
            }
        }

        &_list_container::-webkit-scrollbar {
            width: 5px;
            border-radius: 5px;

            &-track {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &-thumb {
                background-color: rgba(0, 184, 222, 0.5);
                border-radius: 5px;
            }
        }
    }

    &_container {
        z-index: 30 !important;
        position: relative;

        .mp_shopSelectorModal_companyBox {
            &.clusterTwo {
                background-color: rgba(255,255,255,0.08);
                border-radius: 6px;
                position: relative;
                padding: 14px;
                left: 0;
                margin-bottom: 11px;;
                top: 44px;

                .row {
                    top: 0 !important;
                    border-bottom: 0 !important;
                    margin-bottom: 0 !important;
                }

                .mp_shopSelectorModal_singleItem {
                    top: 0 !important;
                    background-color: rgba(255, 255, 255, 0);
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                    border-radius: 0;
                    margin-bottom: 0 !important;
                }
                .mp_shopSelectorModal_singleItem:first-child {
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                }


                .grommetux-check-box__control {
                    margin-left: 0 !important;
                }

                .other{
                    margin-top: 20px;
                }
            }   


            &:nth-child(n+2) {
                margin-top: 35px;
            }

            .row {
                height: 26px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);;
                position: relative;
                margin-bottom: 15px;
            }

            .name_slot {
                font-family: $font-family-medium;
                font-size: $text-size-xlarge;
                line-height: $text-size-xlarge + 1;
                position: absolute;
                left: 0px;
                width: calc(100% - 180px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .label_slot {
                font-family: $font-family-regular;
                font-size: $text-size-xsmall;
                line-height: $text-size-xsmall;
                position: absolute;
                right: 76px; /* ------------------------------------------------------- per cluster 3... era 96*/
                margin-top: 6px;
            }

            .code_slot {
                font-family: $font-family-medium;
                font-size: $text-size-xlarge;
                line-height: $text-size-xlarge + 1;
                position: absolute;
                left: 80px;
                bottom: -3px;
            }

            .pv_name {
                display: block;
                font-size: $text-size-large;
                line-height: $text-size-large + 1;
                margin-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: calc(100% + 20px);
            }

            .pv_address {
                display: block;
                font-size: $text-size-xsmall;
                line-height: $text-size-xsmall;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: calc(100% + 20px);
           }
        }
    }

    &_header {
        height: 107px;
        padding-left: 13px;
        padding-right: 16px;
        max-width: 595px;
        margin: auto;

        svg {
            width: 15px;
            height: 15px;
            position: absolute;
            right: 20px;
            top: 42px;
        }

        input {
            border: 0 !important;
            width: 100%;
            margin-top: 68px !important;
            font-size: $heading-size-small !important;
            line-height: $heading-size-small - 1 !important;
            font-family: $font-family-semibold !important;
            letter-spacing: normal !important;
            padding: 0 !important;
        }

        ::placeholder { 
            color: rgba(255, 255, 255, 0.4) !important;
            opacity: 0.4; /* Firefox */
        }

        .discard_search {
            position: absolute;
            right: 15px;
            top: 82px;
            font-size: $text-size-medium;
            line-height: $text-size-medium;
            letter-spacing: 2px;
            font-family: $font-family-semibold;
            @media screen and (min-width: 565px) {
                right: calc((100% - 562px)/2);
            }        
        }

        &_input_line {
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: #9596AF;
            opacity: 20%;
        }
    }

    &_footer {
        background-color: #ffffff !important;
        color: #2D32AA !important;
        opacity: 100% !important;
        font-family: $font-family-regular;
        font-size: $heading-size-medium;
        line-height: $heading-size-medium + 1;
        letter-spacing: 2px;
        text-align: center;
        padding-top: 21.5px;
        border: 0px solid #000 !important;
        border-radius: 0px !important;
        position: absolute;
        width: 100%;
        height: 50px;        
        bottom: 0;
        left: 0;

        &.disabled {
            background-color: #383786 !important;
            color: rgba(255, 255, 255, 0.2) !important;
            opacity: 20%;
        }  
          
        @media screen and (min-width: $break-palm-max-width) {
            width: 180px;
            height: 40px;  
            bottom: 40px;
            padding-top: 8px !important;
            margin-left: calc((100% - 180px)/2);
            border-radius: 4px !important;
        }
    }
}       
